html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;  
}

.form-group {
  margin-bottom: 10px;
}


dt {
  margin-bottom: 10px;
}

.form-group select {
  appearance: auto;
}